.table__header {
    display: flex;
    align-items: center;
}

.table {
    display: flex;
    flex-direction: column;
    width: 70%;

    overflow-y: auto;
    padding: 20px 10px 10px;
    gap: 5px;
    background-color: white;
    border-radius: 40px;
    margin-bottom: 10px;
}

.table h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.table__result {
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
}

.table__logo {
    width: 10%;
    margin: 0 20px;
}

.table__empresa {
    width: 300px;
}

.table__uf,
.table__custo,
.table__limite,
.table__total,
.table__avaliacao {
    width: 100px;
    margin-left: 20px;
}