*,
body,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw
}

.header {
    font-weight: 700;
    height: 80px;
    padding: 0 80px
}

.header__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%
}

.header__img {
    height: 50px;
    margin-right: 20px;
    width: auto
}

.header__ul {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 100px;
    width: 80%
}

.header__li {
    cursor: pointer
}

.header__li:hover {
    color: #00df7c
}

.header__li_pesquisa {
    color: #00df7c;
    cursor: pointer
}

.header__li_pesquisa:hover {
    color: #000
}

.header__button {
    all: unset;
    align-items: center;
    background-color: #00df7c;
    border: 1px solid #000;
    border-radius: 40px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 35px;
    justify-content: center;
    margin-right: 20px;
    padding: 20px;
    width: 300px
}

.header__button:hover {
    color: #fff
}

.main {
    background-image: url(/static/media/background.0284b63351e04acabc75.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.form {
    height: 90vh;
    width: 100vw
}

.form,
.form__consult {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.form__consult {
    height: 100%;
    width: 50%
}

.form__consult h2 {
    color: #fff;
    font-size: 32px
}

.form__consult input {
    height: 40px;
    margin: 16px 0;
    padding: 10px;
    width: 250px
}

.form__consult button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    -webkit-transform: translateY(4px);
    transform: translateY(4px)
}

.form__consult button {
    all: unset;
    background-color: #00df7c;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    margin-top: 10px;
    width: 250px
}

.form__consult button,
.table__header {
    align-items: center;
    display: flex
}

.table {
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 50px;
    overflow-y: auto;
    padding: 10px;
    width: 70%
}

.table h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px
}

.table__result {
    align-items: center;
    border-top: 1px solid grey;
    display: flex
}

.table__logo {
    margin: 0 20px;
    width: 10%
}

.table__empresa {
    width: 300px
}

.table__avaliacao,
.table__custo,
.table__limite,
.table__total,
.table__uf {
    margin-left: 20px;
    width: 100px
}

/*# sourceMappingURL=main.2d7229e8.css.map*/